@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;500;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --black-g-color: black;
    --white-g-color: white;
    --red-g-color: red;
    --gray-g-color: #1f1f1f;
}

a {
    text-decoration: none;
    color: var(--white-g-color);
}

body{
    background-color: var(--black-g-color);
    font-family: Exo;
    color: var(--white-g-color);
    text-align: center;  
    text-transform: uppercase;
}

/*Header*/
.contnav{
    position: fixed;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    background-color:var(--black-g-color);
    border-bottom: 3px solid var(--red-g-color);
    z-index: 1;
}

.grid-h{
    padding: 5px 0px;
}

/*Seccion cronometro-video*/
.cont-major{
    padding-top: 80px;
    background-image: url('../img/background.jpg');
    background-position: center 80px;
    background-repeat: no-repeat;
    height: 650px; 
}

.txt-h1{
    font-weight: 800;
    padding: 20px 0;
}



/*Cronometro*/
.cont-contador {
        display: grid;
        justify-content: center;
}

.contador {
    display: grid;
    align-items: center;
    gap: 10px;
    color: var(--white-g-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    grid-template-columns: repeat(4, auto);
}

.contador-item {
    border: 2px solid var(--white-g-color);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-weight: 800;
}

.contador-cifra {
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    padding: 10px 0 0 0;
}

.contador-etiqueta {
    font-size: 1em;
}


/*Seccion botones*/
.cont-buttons{background-color: var(--gray-g-color);
}

.txt-t1{
    font-weight: 300;
    font-size:1.9em;
    padding: 40px 0 20px 0;
}

.cont-grid-bottons{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
}

.grid-bottons{
    padding: 0 0 50px 0;
    font-size: .8em;
}

.img-button{
    width: 90%;
    cursor: pointer;
    transition: all .5s ease-in;
    opacity: 1;
}

.boton-activo {
    cursor:auto;
    transition: all .5s ease-in;
    opacity: 0.4;
    
}

.seccion-de-videos {
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 355px;
    
  
}


/*Footer*/
.contfooter{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    grid-template-columns: repeat(3, 25%);
}

.grid-f{
    padding: 5px 0px;
}
.txt-f{
    font-size: .7em;
    text-transform: none;
}
 .redes {
    width: 30px;
    padding: 0 4px;
 }



/* Version responsive */
@media (max-width: 768px) {
    .contnav{
        grid-template-columns: auto;
    }
    .cont-major{
        padding-top: 150px;
        height: 100%;
    }

    .contador {
        grid-template-columns: repeat(2, auto);
    }
    .seccion-de-videos {
        width: 80%;
    }
    .cont-grid-bottons{
        grid-template-columns: repeat(2, auto);
    }
    .contfooter{
        grid-template-columns: auto;
    }
}
